.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}

.main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: #f7f6b9;
}

.main_frame .left_frame{
    position: relative;
    width: 305px;
    height: 1315px;
    /* border-color: white; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.main_frame .midd_frame{
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.main_frame .right_frame{
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_frame .left_frame .left_1{
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
/* profile picture */
.main_frame .left_1 .left_1-1{
    /* position: absolute;    */
    display: flex;
    flex-direction: column;
    width: 156.16px;
    height: 142.53px;
    margin-top: 30px;
    margin-bottom: 29.46px;
    background-color: #fff;
    border-radius: 50%;
}
/* Name: Steve */
.main_frame .left_1 .left_1-2{
    position: relative;
    width: 66px;
    height: 21px;
    margin-bottom: 7px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 123%;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* text-transform: capitalize; */
    color: #2b2b2b; 
}
/* text software engineer(profession) */
.left_1-3{
    position: relative;
    /* width: 147px; */
    /* height: 153px; */
    /* margin-top: 25px; */
    margin-left: 10px;
    margin-bottom: 30px;
    /* background-color: red; */
    font-family: sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    text-transform: capitalize;
    font-feature-settings: "calt" off "kern" off;
    color: #767676;
}
.left-icons{
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: row;
    width: 238px;
    margin-top: 20px;
}
/* .link_href{
     position: relative;
} */
/* div around social media icons */
.icon{
    position: relative;
    width: 25px;
    height: 29px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    /* background-color: #ffb400; */
    margin-left: 5px;
    margin-right: 5px;
}
.icon-1{
    position: relative;
    left: 30%;
    right: 27%;
    margin-top: 6px;
}

.main_frame .marginer{
    position: relative;
    width: 220px;
    height: 10px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6
}
.main_frame .left_frame .left_2{
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    background-color: aqua;
}
.main_frame .left_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: aqua;
}

.main_frame .left_frame .left_4 {
  position: relative;
  width: 220px;
  height: 252px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: aqua;
}

.main_frame .left_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
  background-color: aqua;
}
